body {
    background-color: beige;
    font-family: "맑은 고딕", "고딕", "굴림";
}
header {
    background-color: rgb(100,200,100);
    width: 80%;
    margin-right: auto; /* header를 오른쪽 자동 정렬 */
    margin-left: auto; /* header를 왼쪽 자동 정렬 */
    padding: 10px; 
    overflow: hidden;
    /* padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px; */
    /* padding: 10, 20, 50, 60; */ /* padding은 글자와 background사이의 간격 */

}

h1 {
    /* background-color: rgb(200,100,100); */
    font-size: 2em;
    
}

/* header의 자손인 h1 태그에 적용/ header > h1 이것도 사용 가능 */
header h1 {
    /* background-color: rgb(100, 100, 200); */
    width: 40%;
    color: aliceblue;
    float: left;
}

header > nav{
    /* background-color: azure; */
    width: 30%;
    float: right;

}

nav ul {
    list-style-type: none; /* 점 없애기 */
}

nav ul li {
    display: inline;
    float: left;
    margin: 15px;
}

a {     /* nav a   or   nav ul li a  */
   text-decoration: none;
   color: aquamarine; 
}

section {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid #333;
    /* border-width: 2px; */
    /* border-style: ; */
    /* border-color:blanchedalmond ; */
    padding: 5px;
}

h2 {
    font-size: 1.8em;
    padding: 15px;
    border-radius: 3px;
    box-shadow: -3px 3px 3px 0px gray; /* x , y, 번짐, 흐림 순서 */
}

h3 {
    font-size: 1.3em;
    padding: 15px 0px 15px 10px;
    box-shadow: -5px 0px 0px 0px blueviolet;
}

p {
    line-height: 30px;
    font-size: 15px;
    margin: 20px;
}

dl {
    line-height: 30px;
    padding-left: 30px;
    margin-right: 30px;
}
dt {
    color: skyblue;
    font-size: 1.1em;
    font-weight: bold;

}

ul {
    line-height: 30px;

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    width: 80%;
    margin-right: auto; /* header를 오른쪽 자동 정렬 */
    margin-left: auto; /* header를 왼쪽 자동 정렬 */
    padding: 10px;
    overflow: hidden;
}
footer p {
    font-size: 12px;
    line-height: 14px
}